html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#p5-container {
  position: absolute;
  top: 0px;
  left: -250px;
}

#container {
  position: absolute;
  left: 50%;
  top: 100px;
}

#middle {
  position: absolute;
  left: 50%;
}

h1 {

  font-size: 60px;

}

a {
  color: blue;
  text-decoration: none;
  font-size: 40px;
}

a:hover {
  color: red;
  text-decoration: underline;
  font-size: 40px;
}