html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#p5-container {
  position: absolute;
  top: 0px;
  left: -250px;
}

#container {
  position: absolute;
  left: 50%;
  top: 10px;
}

#middle {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {

  font-size: 60px;
  font-family: 'Roboto';
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
}

a:hover {
  color: red;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
}